footer {
    background: #5bb66f;
}

footer ul li svg {
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #25532f;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

a:focus {
    text-decoration: none;
}

.contact-container
{
    height: 40px;
}
